.bg-pagnav {
    background-color: white;
}
.breadcrumb {
    background-color: white;
}
.btn-azul {
    background-color: #3b5998;
}
.bg-sabores {
    background-color: #f5f5f5;
}
.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}
  .checkbox-danger input[type="checkbox"]:checked + label::after {
    color: white; 
}
.bgred {
    background-color: red;
    padding: 12px;
    color: white;
    border-radius: 30px;
    font-size: 12px;
  }
  
  .pedido:hover {
    /* border: 1px solid rgba(189, 189, 189, 0.958); */
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    
}