.container-menu {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 100%;
}
#nav span {
    display: none;
}
#nav, #nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav {
    background-color: #ff3e44;
    border-bottom: 5px solid #FFFFFF;
    float: left;
    margin-right: 1%;
    position: relative;
    width: 100%;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
#nav ul.subs {
    background-color: #ff3e44;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    left: 0;
    padding: 0%;
    position: absolute;
    top: 54px;
    width: 100%;
}
#nav > li {
    border-bottom: 5px solid transparent;
    float: left;
    margin-bottom: -5px;
    text-align: center;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
#nav li a {
    display: block;
    text-decoration: none;
    -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    white-space: normal;
}
#nav > li > a {
    color: #FFFFFF;
    display: block;
    line-height: 49px;
    padding: 0 15px;
    /* text-transform: uppercase; */
}
#nav > li:hover > a, #nav > a:hover {
    background-color: #F55856;
    color: #FFFFFF;
    width: 100%;
}
/* #nav li.active > a {
    background-color: #333333;
    color: #FFFFFF;
} */


/*propiedades submenu para submenu2*/
#nav2 span {
    display: none;
}
#nav2, #nav2 ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav2 {
    background-color: #ff3e44;
    border-bottom: 5px solid #FFFFFF;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    width: 100%;
}
#nav2 ul.subs2 {
    background-color: #ff3e44;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    display: none;
    left: 0;
    padding: 0%;
    position: absolute;
    top: 54px;
    width: 100%;
}
#nav2 > li {
    border-bottom: 5px solid transparent;
    float: left;
    margin-bottom: -5px;
    text-align: left;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
#nav2 > li:hover{
    background-color: #F55856;
    color: #FFFFFF;
}
#nav2 li a {
    display: block;
    text-decoration: none;
    -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    white-space: normal;
}
#nav2 > li > a {
    color: #FFFFFF;
    display: block;
    line-height: 49px;
    padding: 0 15px;
    /* text-transform: uppercase; */
}
#nav2 > li:hover > a, #nav2 > a:hover {
    background-color: #F55856;
    color: #FFFFFF;
}
/* #nav2 li.active > a {
    background-color: #333333;
    color: #FFFFFF;
} */


/*propiedades nav3*/

/*propiedades submenu para submenu2*/
#nav3 span {
    display: none;
}
#nav3, #nav3 ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav3 {
    background-color: #ff3e44;
    border-bottom: 5px solid;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
    width: 100%;
}
#nav3 ul.subs2 {
    background-color: #ff3e44;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    display: none;
    left: 0;
    padding: 0%;
    position: absolute;
    top: 54px;
    width: 100%;
}
#nav3 > li {
    border-bottom: 5px solid transparent;    
    float: left;
    margin-bottom: -5px;
    text-align: left;
    -moz-transition: all 300ms ease-in-out 0s;
    -ms-transition: all 300ms ease-in-out 0s;
    -o-transition: all 300ms ease-in-out 0s;
    -webkit-transition: all 300ms ease-in-out 0s;
    transition: all 300ms ease-in-out 0s;
}
#nav3 li a {
    display: block;
    border-right: 1px solid rgba(255, 255, 255, 0.212);
    text-decoration: none;
    -moz-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -ms-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -o-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    -webkit-transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    transition: color 450ms ease-in-out 0s, background-color 450ms ease-in-out 0s;
    white-space: normal;
}
#nav3 > li > a {
    color: #FFFFFF;
    display: block;
    line-height: 49px;
    padding: 0 15px;
    /* text-transform: uppercase; */
}
#nav3 > li:hover > a, #nav3 > a:hover {
    /* background-color: #F55856; */
    color: #FFFFFF;
}
/* #nav2 li.active > a {
    background-color: #333333;
    color: #FFFFFF;
} */



/* submenu */
#nav li:hover ul.subs {
    display: block;
}
#nav ul.subs > li {
    display: inline-block;
    float: none;
    padding: 10px 1%;
    vertical-align: top;
    width: 25%;
}
#nav ul.subs > li a {
    color: #FFFFFF;
    line-height: 20px;
}
#nav ul li a:hover {
    color: #FFFFFF;
}
#nav ul.subs > li > a {
    margin-bottom: 10px;
    /* text-transform: uppercase; */
}
#nav ul.subs > li li {
    float: none;
    padding-left: 8px;
    -moz-transition: padding 150ms ease-out 0s;
    -ms-transition: padding 150ms ease-out 0s;
    -o-transition: padding 150ms ease-out 0s;
    -webkit-transition: padding 150ms ease-out 0s;
    transition: padding 150ms ease-out 0s;
}
#nav ul.subs > li li:hover {
    padding-left: 15px;
}


/*subs2 submenu*/

#nav2 li:hover ul.subs2 {
    display: block;
}
#nav2 ul.subs2 > li {
    display: inline-block;
    text-align: center;
    float: none;
    padding: 10px 1%;
    vertical-align: top;
    width: 14%;
}
#nav2 ul.subs2 > li a {
    color: rgba(189, 189, 189, 0.308);
    line-height: 20px;
}
#nav2 ul li a:hover {
    color: #FFFFFF;
}
#nav2 ul.subs2 > li > a {
    margin-bottom: 10px;
    /* text-transform: uppercase; */
}
#nav2 ul.subs2 > li li {
    float: none;
    /* padding-left: 8px; */
    -moz-transition: padding 150ms ease-out 0s;
    -ms-transition: padding 150ms ease-out 0s;
    -o-transition: padding 150ms ease-out 0s;
    -webkit-transition: padding 150ms ease-out 0s;
    transition: padding 150ms ease-out 0s;
}
#nav2 ul.subs2 > li li:hover {
    padding-left: 15px;
}

/* responsive rules */
@media all and (max-width : 980px) {
    #nav > li {
        float: none;
        border-bottom: 0;
        margin-bottom: 0;
    }
    #nav ul.subs {
        position: relative;
        top: 0;
    }
    #nav li:hover ul.subs {
        display: none;
    }
    #nav li #s1:target + ul.subs,
    #nav li #s2:target + ul.subs,
    #nav li #s3:target + ul.subs {
        display: block;
    }
    #nav ul.subs > li {
        display: block;
        width: auto;
    }

    /*nav2*/
    #nav2 > li {
        float: none;
        border-bottom: 0;
        margin-bottom: 0;
    }
    #nav2 ul.subs2 {
        position: relative;
        top: 0;
    }
    #nav2 li:hover ul.subs2 {
        display: none;
    }
    #nav2 li #ss1:target + ul.subs2,
    #nav2 li #ss2:target + ul.subs2,
    #nav2 li #ss3:target + ul.subs2 {
        display: block;
    }
    #nav2 ul.subs2 > li {
        display: block;
        width: auto;
    }

    /*nav3*/
    #nav3 > li {
        float: none;
        border-bottom: 0;
        margin-bottom: 0;
    }
    #nav3 ul.subs3 {
        position: relative;
        top: 0;
    }
    #nav3 li:hover ul.subs3 {
        display: none;
    }
    #nav3 li #ss1:target + ul.subs3,
    #nav3 li #ss2:target + ul.subs3,
    #nav3 li #ss3:target + ul.subs3 {
        display: block;
    }
    #nav3 ul.subs3 > li {
        display: block;
        width: auto;
    }
}



