
.bggreen1 {
    border: 1px solid rgb(255, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }

  #wrapper
{
  width:995px;
  padding:0px;
  margin:0px auto;
  font-family:helvetica;
  position:relative;
}
#wrapper .baricon
{
  display:inline-block;
  border-radius:100%;
  padding-bottom:10px;
  padding-top:10px;
  padding-right:20px;
  padding-left:20px;
  background-color:#ff3e44;
  color:white;
}
#wrapper .baricon2
{
  display:inline-block;
  border-radius:100%;
  padding-bottom:10px;
  padding-top:10px;
  padding-right:20px;
  padding-left:20px;
  background-color:white;
  color:#ff3e44;
}
#wrapper .progress_bar
{
      width:180px;
      height:5px;
      border-radius:20px;
      background-color:#ff3e44;
      display:inline-block;
}
#wrapper .progress_bar2
{
      width:180px;
      height:5px;
      border-radius:20px;
      background-color:#dbd1d2;
      display:inline-block;
}
.bgheader {
    background-color: #ff3e44;
}

.modalBody {
  height: 320px;
}
    
.modalHeader {
  background-color:  #ff3e44;
  height: 60px;
  border-radius: 3px;
  display: flex;
  /* justify-content:flex-start; */
  flex-direction: row;
  /* background: blue; */

}

.modalHeader .inputChat {
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  /* margin-right: 130px; */
  /* background: yellow;
   */
  width: 270px;
}

.contentinput {
  flex-direction: row;

}