.restaurante{
    width: 20vw;
    height: 90vh;
}
.containerRestaurant {
    height: 100vh;
    width: 80vw;
    overflow: auto;
    background: #c2c2c2;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}
.restaurante:hover {
    /* border: 1px solid rgba(189, 189, 189, 0.958); */
    box-shadow: 0 0 11px rgba(33,33,33,.2);

    
}
.bggreen-2 {
    background-color: green;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    border-radius: 100px;
    text-align: center;
  }
 
