.bg-footer-copyright {
    background-color: #131a1f;
}
.table.table-unruled>tbody>tr>td,
.table.table-unruled>tbody>tr>th {
  border-top: 0 none transparent;
  border-bottom: 0 none transparent;
}

.table.table-unruled>tbody>tr>td>p i:hover{
    color: #FFFFFF;
}