.tab {
    color: black;
}
.nav {
    background: #ff3e44;
    justify-content: center;
    color: #FFFFFF;
}
.nav li:hover{
    background: #F55856;
}
.bgback {
    background-image: url("../../img/back2.png");
    
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgbanner {
    background-image: url("../../img/banner.jpg");
    color: white;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn {
    padding: 10px;
    border-radius: 15px;
}
.vl {
    border: 1px solid yellow;
    height: auto;
    margin-left: 10px;
}
.tab-header-bold {
    block-overflow: true;
}





.navbar {
    background-color: transparent;
  }
  
  .top-nav-collapse {
    background-color: #ff3e44;
  }
  
  @media (max-width: 768px) {
    
    .navbar:not(.top-nav-collapse) {
      background-color: #ff3e44;
    }
  }
  
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background: #ff3e44;
    }
  }
  
  .bggreen {
    background-color: green;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
  }

  .taab:hover {
    border: 1px solid rgba(189, 189, 189, 0.958);
    box-shadow: 0 0 20px rgba(33,33,33,.2);
    
}
.home:hover {
    /* border: 1px solid rgba(189, 189, 189, 0.958); */
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    
}
