.style-select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ff3e44;
    border-radius: 50px;
    outline: 0;
    height: 2.1rem;
    width: 100%;
    font-size: 1rem;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    }
    .style-select:active {
    border-bottom: 1px solid #ff3e44;
    -webkit-box-shadow: 0 1px 0 0 #ff3e44;
    box-shadow: 0 1px 0 0 #ff3e44;
    }